<config>

    <collection measurement_type="Insert TSDS Measurement Type" interval="60" composite="Insert Composite File Name" workers="1">
        <host>foo.grnoc.iu.edu</host>
        <host>bar.grnoc.iu.edu</host>
        <host>baz.grnoc.iu.edu</host>
    </collection>

</config>
