<?xml version="1.0"?>

<config>

    <!-- Global Simp::TSDS Settings -->
    <settings
        max_workers="4"
        dump_threshold="10000"
    />

    <!-- RabbitMQ Connection -->
    <rabbitmq
        ip="127.0.0.1"
        port="5672"
        user=""
        password=""
    />

    <!-- TSDS Connection -->
    <tsds
        url=""
        user=""
        password=""
        realm=""
        push_size="100"
    />

</config>
