<?xml version="1.0"?>

<!-- Main Simp Poller Config -->
<config>

    <!-- Redis Configuration -->
    <redis ip="127.0.0.1" port="6379"/>

    <!-- How long to wait before purging old Redis entries -->
    <purge interval="3600"/>

    <!-- Default number of results to get per SNMP request for groups -->
    <request_size results="15"/>

    <!-- Directory where polling status dirs/files will be made/written -->
    <status dir="/var/lib/simp/poller/"/>

</config>
